.single-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 5px 5px;
}

.like-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MuiCardActions-root.MuiCardActions-spacing.css-1t6e9jv-MuiCardActions-root {
    display: flex;
	justify-content: center;
    align-content: baseline;
}

