.App {
  text-align: center;
}

.App-header {
  background-color: #ab77fd;
  padding: 1em;
  font-size: 26px;
  color: white;
  text-shadow: 1px 1px black;
  margin-bottom: 1em;
  box-shadow: 0px 1x black;
}

.App-title {
  font-size: 1.5em;
}

body { 
  background-color: #0a042a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.outside-title {
  display: flex;
  justify-content: center;
}
.title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ab77fd;
  margin: 1em 0em 1em 0em;
  width: 400px;
  padding: 0.5em 0em 0.5em 0em;
  font-size: 20px;
  font-weight: bold;
  border: 0px 1px 1px 0px solid black;
  border-radius: 8px;
  box-shadow: 1px 1px whitesmoke;
}


/* 
background:  #f9d7f8
primary : ##8147c2
secondary: #c2ebd5
accent: #c28147
*/